:root{
    --bg-color: #ecf5ff; 
    --h-color: #56a5eb;
    font-size: 62.5%; /* 1rem = 16px*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'Times New Roman', serif;
    background-color: var(--bg-color);
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

h1{
    font-size: 4rem;
    color: var(--h-color);
    text-align: center;
     /* margin-bottom: 5rem; */
}

.container {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 80rem;
   margin: 0 auto;
}

.btn{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 0;
    border: 0.1 solid var(--h-color);
    text-align: center;
    width: 20rem;
    background-color: white;
    color: #56a5eb;
    margin-bottom: 1rem;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.btn[disabled]:hover{
    background-color: grey;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* game.html */
h2{
    font-size: 4rem;
    margin-bottom: 4rem;
}
.choice-container{
    display: flex;
    width: 100%;
    border: 1px solid rgba(86, 166, 235, 0.541);
    margin-bottom: .5rem;
    font-size: 1.8rem;
    background-color: white;
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.choice-list{
    padding: 1rem 2rem;
    background-color: var(--h-color);
    color: white;
}
.choice-text{
    padding: 1.5rem;
}